*#
#*
~*
*~
*.rbc
*.class
*.gem
# makes it possible to clone cookbooks from any fork. MK.
cookbooks
cookbooks/*
private_cookbooks
private_cookbooks/*
private-cookbooks
private-cookbooks/*
Vagrantfile
.vagrant
Gemfile.lock

.yardoc/*
doc/*
tmp/*

.rvmrc
.ruby-version
tmp/*

.bundle/*
bin/*
