Vagrant.configure "2" do |config|

  # See https://github.com/mitchellh/vagrant/wiki/Available-Vagrant-Boxes for more boxes.
  config.vm.box     = "saucy64"
  config.vm.box_url = "http://cloud-images.ubuntu.com/vagrant/saucy/current/saucy-server-cloudimg-amd64-vagrant-disk1.box"

  # config.ssh.username = "vagrant"

  # requires installing a plugin with
  # vagrant gem install vagrant-vbguest
  config.vbguest.auto_update = true

  config.vm.provider "virtualbox" do |vm|
    # changing nictype partially helps with Vagrant issue #516, when VirtualBox NAT interface chokes
    vm.customize ["modifyvm", :id, "--nictype1", "Am79C973", "--memory", "1536", "--cpus", "2", "--ioapic", "on"]

    # see https://github.com/mitchellh/vagrant/issues/912
    vm.customize ["modifyvm", :id, "--rtcuseutc", "on"]
  end

  #
  # Forwarded ports
  #

  config.vm.network "forwarded_port", guest: 80,   host: 9080, auto_correct: true
  config.vm.network "forwarded_port", guest: 1883, host: 9883, auto_correct: true

  #
  # Provisioning
  #

  config.vm.provision :shell do |sh|
    sh.inline = <<-EOF
      sudo apt-get install ruby1.9.1-dev
      sudo apt-get -y autoremove
      sudo apt-get -y clean
      gem install chef --no-ri --no-rdoc --no-user-install
    EOF
  end

  config.vm.provision :chef_solo do |chef|
    # this assumes you have opensensorsio/cookbooks cloned at ./cookbooks
    # optionally add more sets of cookbooks
    chef.cookbooks_path = ["cookbooks"]
    chef.log_level      = :debug
    chef.data_bags_path = ["data_bags"]

    # Highly recommended to keep apt packages metadata in sync and
    # be able to use apt mirrors.
    chef.add_recipe     "apt"

    # List the recipies you are going to work on/need.
    chef.add_recipe     "build-essential"
    chef.add_recipe     "networking_basic"

    chef.add_recipe     "git"
    chef.add_recipe     "emacs"

    chef.add_recipe     "java"
    chef.add_recipe     "leiningen"

    chef.add_recipe     "azondi"
    # chef.add_recipe     "leweb"
    chef.add_recipe     "jig"

    chef.add_recipe     "cassandra::datastax"
    chef.add_recipe     "postgresql::client"
    chef.add_recipe     "postgresql::server"

    chef.add_recipe     "sweeper"

    chef.json.merge!({
        apt: {
          mirror: "uk"
        },
        cassandra: {
          listen_address: "127.0.0.1",
          broadcast_address: "127.0.0.1",
          rpc_address: "127.0.0.1",
          seeds: ["127.0.0.1"],
          :max_heap_size => "256m"
        },
        postgresql: {
          password: {
            postgres: "postgres"
          }
        }
      })
  end
end
